.feed {
  margin: 10px;
  border-radius: 10px;
  background: white;
}

.input {
  margin: 10px;
  border: solid 1px black;
  height: 40px;
  border-radius: 10px;
  width: calc(100% - 62px);
  font-size: 20px;
  padding: 0 20px;
}
